<% if user_signed_in? %>
  <!-- If argument is favorited already, then clicked -->
  <% if Favorite.find_by(user_id: current_user.id, argument_id: arg.id) %>
    <p class="star clicked" user_id="<%= current_user.id %>" 
       arg_id="<%= arg.id %>">&#9733</p>
  <% else %>
    <p class="star unclicked" user_id="<%= current_user.id %>" 
       arg_id="<%= arg.id %>">&#9734</p>
  <% end %>
<% end %>
