<div class="welcome home controller container">
  <div class="buttons">
    <%= link_to "Browse Debates", debates_path, class: "btn" %>
    <%= link_to "Create New Debate", new_debate_path, class: "btn" %>
  </div>
</div>
