<div class="welcome home controller container">
<%= link_to "View Debates", debates_path %>
<%= link_to "Create new debate", new_debate_path %>
<%= link_to "Logout", destroy_user_session_path, method: 'delete' %>
</div>
