<div class="welcome index controller container">
<%= link_to "Login", "#" %>
<%= link_to "New User", "#" %>
<%= link_to "View Debates", debates_path %>
<%= link_to "Create new debate", new_debate_path %>

</div>
