<div class="welcome index controller container">
<%= link_to "Login", "#" %>
<%= link_to "New User", "#" %>
<%= link_to "View Debates", "#" %>

<%= link_to "temp debate logic", debates_path %>
</div>
