<div class="container <%=type%>-arg col-sm-6">
<!-- TODO: title, preview description, link -->
<ol class="<%=type%> list">
    <% if arguments %>
        <% arguments.each do |a| %>
            <li><%= link_to a.title, argument_path(a) %></li>
        <% end %>
    <% end %>
</ol>

<% word = type == "pro" ? "for" : "against" %>
<%= link_to "Create new argument #{word}", new_argument_path(id: @debate, side: "#{type}") %>
</div>
