<div class="debate index controller container">
<h2>All Debates</h2>
  <ol class="debates list">
  <% @debates.each do |d| %>
    <li><%= link_to d.title, debate_path(d) %></li>
  <% end %>
  </ol>

  <%= link_to "Create new debate", new_debate_path %>
</div>

