<div class="debate show controller container">
<div class="head">
    <h1><%= @debate.title %></h1>
    <pre class="description"><%= @debate.description %></pre>
</div>

<div class="grid-container">
    <%= render partial: "partials/arguments_grid", locals: {type: "pro", arguments: @pros } %>

    <%= render partial: "partials/arguments_grid", locals: {type: "con", arguments: @cons } %>
</div>

<div id="modal">
</div>

</div>
