@import "components/colors";

$star-width: 25px;

.star{
    font-size: $star-width;
    color: $star-color;

    &:not(.noclick){
        cursor: pointer;
    }

    &.noclick{
        cursor: default;
    }
}
