/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "components/fonts";
@import "components/colors";

$header-height:50px;

body{
    margin: 0px;
    font-family: $primary-font;
    font-size: 15px;
}

.controller.container{
    width: 100%;
    padding: 0px;

    h1, p{
        margin: 0px;
    }
}

.flash{
    *{
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    padding: 16px;

    &.success{
        background-color: $success-color;
    }
    &.danger{
        background-color: $danger-color;
    }

}

.field_with_errors{
    padding: 2px;
    background-color: red;
    display: table;
}

.header{
    width: 100%;
    height: $header-height;;

    background-color: $primary-color;
    color: $text-color;
    //text-align: center;
    padding: 0 10px;

    h1{
        margin: 0px;
        display: inline-block;
        line-height: $header-height;

        .title{
          color: white;
        }
    }

    .buttons{
        display: inline-block;
        height: inherit;
        position: absolute;
        top: 0px;
        right: 10px;
        line-height: $header-height;

        a{
            font-size: 20px;
            color: $text-color;

            &:hover{
                background-color: $button-color;
                color: black;
            }
        }
    }
}

.footer{
    width: 100%;
    height: 15px;
    position: fixed;
    bottom: 0px;
    background-color: $secondary-color;
    line-height: initial;

    .buttons{
        display: inline-block;
        float: right;

        a{
            font-size: 20px;
            color: $text-color;

            &:hover{
                background-color: $button-hover-color;
                color: black;
            }
        }
    }

    .citation{
      display: inline-block;
      font-size: 10px;
      position: absolute;
      bottom: 0px;
    }
}

.btn.submit{
    margin: 4px 0px;
    background-color: $button-color;
    border: 1px solid black;;
    color: black;
    &:hover{
        background-color: $button-hover-color;
    }
}

pre{
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
    border: 0px;
    background-color: white;
}

a, a:hover{
    text-decoration: none;
}

input, textarea {
    padding: 4px;
}
