.debate.index{
  text-align: center;
  h2{
    text-align: center;
  }

  table{
    margin: 0 auto;

    td{
      font-size: 15px;
      padding: 4px;
    }
  }

  .category-sidebar{
    padding: 0 10px;
    position: absolute;
    float: left;

    a{
      display: block;
    }
  }
  
}
