@import "components/forms";
$form-width: 300px;
$form-height: 200px;

.debate.new{
  input, textarea{
    display: block;
    width: 100%;
    margin: 8px 0px;
  }

  .form{
      width: $form-width;
      height: $form-height;
      @include centered_form($form-width, $form-height);
  }

  .ui.fluid.search.dropdown{
    width: 85%;
    display: inline-block;
  }

  #add-category-btn{
    padding: 2px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid black;
    color: gray;
    height: 15%;
    width: 10%;
    text-align: center;
    display: inline-block;
  }
}
