@import "components/fonts";
.debate.show{
  .head{
    h1{
      font-size: 25px;
    }

    pre{
      margin: 8px auto;
      padding: 0;
      background-color: white;
      border: 1px solid black;
      width: 70%;
      font-size: initial;
      font-family: $primary-font;
    }
  }

  text-align: center;
  margin: 8px 0;

  ol{
    list-style-position: inside;
  }

}
