@import "components/fonts";
@import "components/colors";

.debate.show{
  text-align: center;
  margin: 8px 0;

  .head{
    width: 70%;
    margin: 0 auto;

    h1{
      font-size: 25px;
    }

    pre{
      margin: 8px auto;
      padding: 0;
      font-size: initial;
      font-family: $primary-font;
    }
  }

  .grid-container{
    width: 90%;
    margin: 0 auto;

    .pro-arg{
      border: 1px solid $favor-color;
    }
    .con-arg{
      border: 1px solid $opposed-color;
    }

    .pro-arg, .con-arg{
      margin: 0 auto;
      width: 500px;
      height: 600px;
      padding: 15px;
      display: inline-block;
      vertical-align: top;
      overflow: scroll;
    }
  }

  //the argument lists
  $list-width: 470px;
  $list-padding: 10px;
  $row-padding: 5px;
  $argument-height: 120px;
  $argument-padding: 10px;
  $title-row-height: 35px;
  $buttons-width: 75px;
  $star-width: 25px;
  $description-width: $list-width - $buttons-width - $star-width - $row-padding
                      - 2 * $list-padding;
  $description-height: $argument-height - 2*$argument-padding - $title-row-height;

  .list{
    width: $list-width;
    padding: $list-padding;

    .argument{
      height: $argument-height;
      padding: $argument-padding 0;

      .row{
        margin: 0;
        padding: 0 5px;

        &.title{
          height: $title-row-height;
          
          *{
            text-align: left;
          }
        }

        width: $list-width;

        .star, .description {
          display: inline-block;
          vertical-align: top;
        }

        .star{
          font-size: $star-width;
          color: #ffff00;
          float: left;
          position: relative;
          right: 2px;
          top: 15px;
          cursor: pointer;
        }

        .description{
          width: $description-width;
          height: $description-height;
          border: 1px solid black;
          text-align: left;
          padding: 5px;
          overflow: scroll;
          cursor: default;
        }

        .buttons{
          display: inline-block;
          height: $description-height;
          width: $buttons-width;

          .btn{
            height: $description-height / 2;
            display: block;
            padding: 0;
          }
        }
      }
    }
  }

  $modal-width:  450px;
  #modal{
    position: absolute;
    z-index: 100;
    width: $modal-width;
    background-color: $off-white-color;
    height: 400px;
    overflow: scroll;
    display: none;

    &.supporting{
      border: 1px solid $favor-color;
    }
    &.counter{
      border: 1px solid $opposed-color;
    }

    h3{
      &.supporting{
        color: $favor-color;
      }
      &.counter{
        color: $opposed-color;
      }
    }

    #modal-cancel{
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      padding: 10px;
    }
  }

}
