@import "components/colors";

.user.show{
  h1{
    text-align: center;
  }

  .arguments, .favorites{
    width: 50%;
    margin: 0 auto;
    h3{
      text-align: center;
    }

    li{
      font-size: 20px;
    }
  }

  .star{
      color: $star-color;
  }
}
