@import "components/fonts";
@import "components/colors";
.argument.show{
  pre{
    margin: 8px 0;
    padding: 0;
    font-size: initial;
    font-family: $primary-font;
  }

  .subtitle{
    text-align: center;
    p{
      display: inline-block;
    }
  }

  .arguments{
    text-align: center;
  }

  ol{
    list-style-position: inside;
  }

    h1{
      text-align: center;
        &.For-title{
          color: $favor-color;
        }

        &.Against-title{
          color: $danger-color;
        }
    }

  .main-chunk{
      width: 60%;
      margin: 0 auto;


      .like-buttons{
        text-align: center;
        margin: 4px;
      }

      h2{
        text-align: center;
          margin: 10px 0px;
      }
  }
}
